.st- {
  &push {
    margin-left: auto;
  }

  &gradient {
    height: 100%;
    background-image: linear-gradient(
      to left top,
      #2cd4d9,
      #00c2f3,
      #00a9ff,
      #4e86ff,
      #ac52da
    );
  }
}
